html, body {
  font-family: 'Merriweather', serif;	
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ECECEC;
}

/* *{border: 1px dashed white;
}*/

/*Header information ALL PAGES*/
.header{

	background-color: rgba(0,0,0,.5);
	position:relative;
	height: 100px;

	margin-top: -50px;
	min-width: 750px;
/*	position:fixed; when I get Jquery added will hide 
on scroll down and appear on scroll up
 unless top pixel =0*/
}

.header .logo{
	float:left;

	height:75px;
	width:75px;
	margin-top: -10px;
	z-index: 1;
}

.header .title{
	text-align: center;
	font-size:24px;
	margin-left: 50px;
	margin-top: -9px;
	color: white;
	max-width: 275px;
	position:relative;
}

.header .titleLogo{
	margin-top: 35px;
}


.header .navagation{
	float:right;
	list-style-type: none;
	text-align: center;
	margin: 0;
    padding: 0;
	margin-top:25px;
	font-size: 24px;
}

.header .menu{
	border: 1px solid black;
	border-radius:5px;
	display:inline;
	margin:0 5px 0 5px;
	padding:0 5px 0 5px;
}
/* more to be done with button hovers */
.header .menu:hover{
	background-color: black;
}

.header .links{
	text-decoration: none;
	color:white;
}


.jumbotron{
  height: 200px;
  margin:0;
  padding:0 0 -30px 0;

}

.Jumbo-title{
  position: relative;

  display:block;
  margin: 30px auto;
}

.Jumbo-title h2{
  color: black;
  text-align: center;
  min-width: 550px;
  max-width: 700px;
  margin: auto;
}




.wrapper {
	min-height:100%;
	position:relative;
}


/*Footer section for copyright image placement and colors*/
.footer{
	background-color: #333A49;
	color: white;

	position: absolute;
	right:0;
 	bottom: 0;
 	left: 0;

  	min-width: 750px;
   	height: 45px;
}
.copyRightSpot{
	margin-top:10px;
}

.socialMedia{
	border-radius:5px;
	display:inline;
	margin:0 5px 0 5px;
	margin-top:5px;
	padding-top:0;
	float:right;
}